/* entire container, keeps perspective */
.flip-container {
  width: 100%;
  min-height: 332px;
  perspective: 1000px;

  /* flip the pane when hovered */
  &:hover .flipper,
  &.hover .flipper {
    transform: rotateY(180deg);
  }

  .flipper {
    height: 100%;
    transition: 0.6s;
    position: relative;
    transform-style: preserve-3d;
  }

  /* hide back of pane during swap */
  .front, .back {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: absolute;
    backface-visibility: hidden;
  }

  /* front pane, placed above back */
  .front {
    z-index: 2;
    transform: rotateY(0deg);
  }

  /* back, initially hidden pane */
  .back {
    transform: rotateY(180deg);
  }
}
