@import "flipper";

.container .container.grid-list-none {
  padding: 0;

  .layout {
    margin: 0;

    .flex {
      margin: 0;
      padding: 2px
    }
  }
}

#container {
  height: 200px;
  text-align: center;
  position: relative;
}

#left {
  width: 200px;
  margin: auto;
  height: 100%;
  background: #f00;
}

#right {
  top: 0;
  right: 0;
  bottom: 0;
  background: #0f0;
  position: absolute;
  width: calc(50% - 100px); /* 100px is 50% of #left */
}
