<template lang="pug">
  div
    h2.display-1.mb-3 Products
    v-container(grid-list-xl pa-0)
      v-layout(row wrap)
        v-flex(md4)
          v-card(ref='form')
            v-card-text
              v-text-field(label='Product Name', placeholder='Eg. Burqa', v-model='product.name')
            v-divider.mt-5
            v-card-actions
              v-btn(flat) Cancel
              v-spacer
              v-btn(flat color='primary', @click='submit', :disabled='!this.product.name') Submit
        v-flex(md8) {{products}}
          v-data-table.elevation-1(:headers='headers', :items='products', hide-actions)
            template(slot='items', slot-scope='props')
              td {{ props.item.code }}
              td {{ props.item.name }}
              td.text-xs-right {{ props.item.id }}
</template>

<script>
  import * as firebase from 'firebase'

  export default {
    name: 'Products',

    data () {
      return {
        rootRef: [],
        product: {
          name: '',
          code: 1001
        },
        lastProduct: [],
        products: [],
        headers: [
          {
            text: 'Code',
            align: 'left',
            value: 'code' },
          {
            text: 'Name',
            align: 'left',
            sortable: false,
            value: 'name'
          },
          {
            text: 'Id',
            value: 'id'
          }
        ]
      }
    },

    methods: {
      submit () {
        this.createProduct()
      },

      getProducts () {
        this.rootRef.child('Products').once('value')
          .then((data) => {
            this.getProduct(data)
          })
      },

      getProduct (data) {
        // Loop and get product(s) and append to products array
        const obj = data.val()

        for (let key in obj) {
          this.products.push({
            id: key,
            name: obj[key].name,
            code: obj[key].code
          })
        }
      },

      createProduct () {
        if (this.products.length) {
          this.lastProduct = this.products.slice(-1).pop()// get last item in the array
          this.product.code = this.lastProduct.code + 1// add +1 to lastProduct.code
        }

        this.rootRef.child('Products').push(this.product)
          .then((data) => {
            this.product.name = ''
            this.product.code = 0
          })

        // Get last Product and append to products array
        this.rootRef.child('Products').limitToLast(1).once('value').then((data) => {
          this.getProduct(data)
        })
      }
    },

    mounted () {
      this.rootRef = firebase.database().ref()
      this.getProducts()
    }
  }
</script>
