<template lang='pug'>
  div
    h2.display-1.mb-3 Items

    v-container(grid-list-xl pa-0)
      v-layout(row wrap)
        v-flex(md5)
          v-card(ref='form').mb-2
            v-card-text
              v-select(label='Select Product', v-model='groupOfItems.product', :items='products', item-text='name')
              v-text-field(label='Items Description', v-model='groupOfItems.desc')

          v-card(ref='form')
            v-card-text
              v-layout.row
                v-flex
                  v-text-field(label='Number of Items', v-model.number='groupOfItems.numberOfItems', @keyup='disableSaveGeneratedItems = true')
                v-flex
                  v-text-field(label='Price', v-model.number='groupOfItems.price', @keyup='disableSaveGeneratedItems = true')
            v-divider
            v-card-actions
              v-btn(flat color='primary', @click='generateItems') Generate Items
              v-spacer
              v-btn(color='success', @click='saveGeneratedItems', :disabled="disableSaveGeneratedItems") Save Generated Items
        v-flex(md7)
          v-data-table.elevation-1(:headers='headers', :items='items', hide-actions)
            template(slot='items', slot-scope='props')
              td {{ groupOfItems.product.name }}
              td {{ props.item.code }}
              td {{ groupOfItems.desc }}
              td.text-xs-right {{ props.item.pricePerItem }}
</template>

<script>
  import * as firebase from 'firebase'

  export default {
    name: 'ItemCreate',

    data () {
      return {
        rootRef: [],
        products: [],
        groupOfItems: {
          product: '',
          desc: '',
          numberOfItems: 0,
          price: 0
        },
        items: [],
        lastItemCode: 1000,
        disableSaveGeneratedItems: true,
        headers: [
          {
            text: 'Product Name',
            align: 'left',
            sortable: false
          },
          {
            text: 'Item Code',
            align: 'left',
            sortable: false
          },
          {
            text: 'Item Description',
            align: 'left',
            sortable: false
          },
          {
            text: 'Price/Item',
            align: 'right',
            sortable: false
          }
        ]
      }
    },

    methods: {
      generateItems () {
        this.getLastItemCode() // get last item code from Items
        this.items = [] // reset items

        if (this.groupOfItems.numberOfItems) {
          this.disableSaveGeneratedItems = false
        } else {
          this.disableSaveGeneratedItems = true
        }

        for (let i = 0; i < this.groupOfItems.numberOfItems; i++) {
          this.items.push(
            {
              code: this.lastItemCode + (i + 1),
              pricePerItem: this.groupOfItems.price / this.groupOfItems.numberOfItems
            }
          )
        }
      },

      getLastItemCode () {
        // First get the last item's code
        this.rootRef.child('Items').limitToLast(1).once('value').then((data) => {
          const obj = data.val()

          for (let key in obj) {
            this.lastItemCode = obj[key].code
          }
        })
      },

      saveGeneratedItems () {
        const groupOfItems = {
          productId: this.groupOfItems.product.id,
          desc: this.groupOfItems.desc,
          numberOfItems: this.groupOfItems.numberOfItems,
          price: this.groupOfItems.price
        }

        firebase.database().ref('groupOfItems').push(groupOfItems)
          .then((data) => {
            const groupOfItemsID = data.key

            this.items.forEach((item) => {
              item.groupOfItemsID = groupOfItemsID

              firebase.database().ref('Items').push(item)
                .then((data) => {})
            })
          })
      },

      getProducts () {
        this.rootRef.child('Products').once('value')
          .then((data) => {
            this.getProduct(data)
          })
      },

      getProduct (data) {
        // Loop and get product(s) and append to products array
        const obj = data.val()

        for (let key in obj) {
          this.products.push({
            id: key,
            name: obj[key].name,
            code: obj[key].code
          })
        }
      }
    },

    mounted () {
      this.rootRef = firebase.database().ref()
      this.getProducts()
    }
  }
</script>
