<template lang='pug'>
  div
    v-layout.row.wrap
      v-flex(xs12)
      v-flex(xs6)
        h2.display-1.mb-3 Items
      v-flex(xs6).text-xs-right
        v-btn(color='primary', to='/item-create') Add New Items

    v-container(grid-list-xl pa-0)
      v-layout(row wrap)
        v-flex(sm12)
          v-data-table.elevation-1(:headers='headers', :items='items', hide-actions)
            template(slot='items', slot-scope='props')
              td {{ props.item.code }}
              td {{ props.item.name }}
              td {{ props.item.desc }}
              td.text-xs-right {{ props.item.pricePerItem }}
</template>

<script>
  import * as firebase from 'firebase'

  export default {
    name: 'ItemsList',

    data () {
      return {
        rootRef: [],
        products: [],
        groupOfItems: {
          product: '',
          desc: '',
          numberOfItems: 0,
          price: 0
        },
        items: [],
        lastItemCode: 1000,
        disableSaveGeneratedItems: true,
        headers: [
          { text: 'Item Code', align: 'left', sortable: false },
          { text: 'Product Name', align: 'left', sortable: false },
          { text: 'Item Description', align: 'left', sortable: false },
          { text: 'Price/Item', align: 'right', sortable: false }
        ]
      }
    },

    methods: {
      getItems () {
        // firebase.database().ref('Items').once('value').then((data) => {
        //   const obj = data.val()
        //
        //   for (let key in obj) {
        //     this.items.push({
        //       id: key,
        //       code: obj[key].code,
        //       pricePerItem: obj[key].pricePerItem,
        //       groupOfItemsID: obj[key].groupOfItemsID
        //     })
        //   }
        // })

        const items = this.rootRef.child('Items')
        const groupOfItems = this.rootRef.child('groupOfItems')
        const products = this.rootRef.child('Products')

        items.on('child_added', itemSnap => {
          // this.items.push(itemSnap.val())
          // console.log(itemSnap.val())

          groupOfItems.child(itemSnap.val().groupOfItemsID).once('value', groupSnap => {
            products.child(groupSnap.val().productId).once('value', productSnap => {
              this.items.push(extend({}, itemSnap.val(), groupSnap.val(), productSnap.val()))
            })
          })
        })

        function extend (base) {
          let parts = Array.prototype.slice.call(arguments, 1)

          parts.forEach(function (p) {
            if (p && typeof (p) === 'object') {
              for (let k in p) {
                if (p.hasOwnProperty(k)) {
                  base[k] = p[k]
                }
              }
            }
          })
          return base
        }
      },

      deleteIt () {
        const orderItems = []
        const rootRef = firebase.database().ref()

        const users = rootRef.child('Users')
        const orders = rootRef.child('Orders')

        orders.on('child_added', ordersSnap => {
          users.child(ordersSnap.val().userId).once('value', userSnap => {
            orderItems.push(extend({}, ordersSnap.val(), userSnap.val()))
          })
        })

        function extend (base) {
          let parts = Array.prototype.slice.call(arguments, 1)

          parts.forEach(function (p) {
            if (p && typeof (p) === 'object') {
              for (let k in p) {
                if (p.hasOwnProperty(k)) {
                  base[k] = p[k]
                }
              }
            }
          })
          return base
        }
      },

      getProducts () {
        this.rootRef.child('Products').once('value')
          .then((data) => {
            this.getProduct(data)
          })
      },

      getProduct (data) {
        // Loop and get product(s) and append to products array
        const obj = data.val()

        for (let key in obj) {
          this.products.push({
            id: key,
            name: obj[key].name,
            code: obj[key].code
          })
        }
      }
    },

    mounted () {
      this.rootRef = firebase.database().ref()
      this.getProducts()
      this.getItems()
    }
  }
</script>
