<template lang="pug">
  div
    h2.display-1.mb-3 Customers
    v-container(grid-list-xl pa-0)
      v-layout(row wrap)
        v-flex(md4)
          v-card(ref='form')
            v-card-text
              v-text-field(label='Full Name', placeholder='John Doe', v-model='customer.name')
              v-text-field(label='Contact', placeholder='Phone or Mobile Number', v-model='customer.contact')
            v-divider.mt-5
            v-card-actions
              v-btn(flat) Cancel
              v-spacer
              v-btn(flat color='primary', @click='submit') Submit
        v-flex(md8)
          v-data-table.elevation-1(:headers='headers', :items='customers', hide-actions)
            template(slot='items', slot-scope='props')
              td {{ props.item.name }}
              td {{ props.item.contact }}
              td.text-xs-right {{ props.item.id }}
</template>

<script>
  import * as firebase from 'firebase'

  export default {
    name: 'Customers',

    data () {
      return {
        customer: {
          name: '',
          contact: ''
        },
        customers: [],
        headers: [
          {
            text: 'Name',
            align: 'left',
            sortable: false,
            value: 'name'
          },
          {
            text: 'Contact',
            align: 'left',
            value: 'contact'
          },
          { text: 'Id', value: 'id' }
        ]
      }
    },

    methods: {
      submit () {
        this.createCustomer()
        this.getCustomers()
      },

      getCustomers () {
        this.customers = []

        firebase.database().ref('Customers').once('value')
          .then((data) => {
            const obj = data.val()

            for (let key in obj) {
              this.customers.push({
                id: key,
                name: obj[key].name,
                contact: obj[key].contact
              })
            }

            console.log(this.customers)
          })
      },

      createCustomer () {
        // Push Multiple Items
        // const testData = [
        //   {
        //     name: 'abc',
        //     contact: '123'
        //   },
        //   {
        //     name: 'def',
        //     contact: '345'
        //   }
        // ]
        //
        // testData.forEach(function (conta) {
        //   console.log(conta)
        //   firebase.database().ref('Customers').push(conta)
        //     .then((data) => {
        //       console.log(data)
        //     })
        // })

        firebase.database().ref('Customers').push(this.customer)
          .then((data) => {
            console.log(data)
            this.customer.name = ''
            this.customer.contact = ''
          })
      }
    },

    mounted () {
      this.getCustomers()
    }
  }
</script>
