<template lang="pug">
  v-app#inspire
    v-navigation-drawer(app fixed temporary v-model='drawer')
      v-list(dense)
        v-list-tile
          v-list-tile-action
            v-icon home
          v-list-tile-content
            v-list-tile-title Home
        v-list-tile
          v-list-tile-action
            v-icon contact_mail
          v-list-tile-content
            v-list-tile-title Contact
    v-toolbar(fixed app)
      v-toolbar-side-icon.hidden-sm-and-up(@click.stop='drawer = !drawer')
      v-toolbar-title
        | Simple POS
        // <img src="../static/mixtroz-logo.png" alt="mixtroz-logo" height="40" />
      v-spacer
      v-toolbar-items
        v-btn(flat to='/customers')
          | customers
        v-btn(flat to='/products')
          | Products
        v-btn(flat to='/items')
          | Items
    v-content
      v-container(pt-5)
        router-view
    v-footer(color='secondary' app)
      span.white--text © 2017

</template>

<script>
  export default {
    data () {
      return {
        drawer: null,
        hidden: true
      }
    },

    props: {
      source: String
    }
  }
</script>

<style lang="scss">
  @import './assets/scss/main';
</style>
